/* the style for main */
main {
	background-color: white;
	float: left;
	width: 593px;
	height: 900px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 25px;
	border: 2px solid black;
	border-radius: 20px;
}
main p {
	margin: 30px;
}
main h2 {
	margin-top: 30px;
	margin-left:20px;
	margin-right: 20px;
	float: right;
	text-shadow: -3px -3px 4px gray;
	color: #4d585b;
}

main ul {
	margin-right: 30px;
	float: right;
}

/* the style for sidebarR */
#sidebarR h3 {
	margin-top: 20px; 
	text-align:  center;
}
#sidebarR {
	background-color: white;
	width: 180px;
	height: 925px;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 2px solid black;
	border-radius: 20px 0 0 20px;
}
#sidebarR ul {
	list-style-type: none;
}
#sidebarR ul figure {
	float: left;
}
#sidebarR ul figcaption {
	font-weight: bold;
	display: block;
	color: black;
	padding-bottom: 1em;
	text-align: center;
}
#sidebarR ul figcaption:hover, #sidebarR ul figcaption:focus {
	color: #a0aeb2;
}
#sidebarR img {
	height: 120px;
	width: 120px;
	vertical-align: top;
	margin: 30px 10px 10px 28px;
	border: 2px solid black;
	border-radius: 30px;
}
